{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user/all_profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8 card offset-md-2">
                <!-- {% if all_profiles %} -->

                    <!-- All User Profiles -->
                    <!-- {% for user in all_profiles %} -->

                    <!-- Single user Profile Row -->
                    <a href="profile_view" class="text-decoration-none">
                        <div class="row py-3 px-5 border-bottom">

                            <!-- Profile picture -->
                            {% if user.picture %}
                                <img src="/media/{{ user.picture }}" class="rounded-circle z-depth-0 profile__pic">
                            {% else %}
                                <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"  class="profile__pic rounded-circle z-depth-0">
                            {% endif %}
                            <!-- Profile picture end -->

                            <div class="d-flex mx-4">

                                <!-- User's full name -->
                                <p class="m-auto">{{ user.full_name }}</p>
                                
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-sm btn-primary mx-2" type="submit">Profile</button>
                            </div>
                        </div>
                    </a>
                    <!-- Single user Profile Row end -->

                    <!-- {% endfor %} -->
                    <!-- All User Profiles end -->

                <!-- {% else %} -->

                    <!-- No Results found -->
                    <p class="justify-content-center text-center mx-auto my-5">No Results to display</p>

                <!-- {% endif %} -->
            </div>
        </div>
    </div>
{% endblock %}