{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/user/profile_edit.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <div class="card profile__edit__card m-auto">
                    <div class="card-body">
                        Hey
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}