.signup__card{
    width: 380px;
}

.signup__card__text{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.terms__conditions{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}