.links__to__page{
    color: rgba(var(--f75,38,38,38),1);
    font-weight: 600;
    font-size: 14px;
}

.forgot__password__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(var(--f52,142,142,142),1);
}

.trouble__signin__in{
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}