{% extends 'authentication/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/password_reset.css' %}">
{% endblock %}

{% block content %}

{% include 'authentication/components/no_login_navbar.html' %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 my-auto">
            <div class="text-center card px-5 mx-auto auth__card">
                <img src="{% static 'img/instalogo.png' %}" class="insta__logo mx-auto mt-3 mb-4">
                <div class="">
                    <div class="text-center"><h4 class="trouble__signin__in">Trouble Signin In?</h4></div>
                    <div class="forgot__password__text py-2">
                        Enter your email, phone, or username and we'll send you a link to get back into your account.
                    </div>
                    <div class="mb-3">
                        {% if form %}
                            <div>
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif%}
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="my-1 form__input">
                                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Password">
                                    <p>{{ form.new_password1.errors }}</p>
                                </div>
                                <div class="my-1 form__input">
                                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Retype Password">
                                    <p>{{ form.new_password2.errors }}</p>
                                </div>
                                <div class="my-4 mx-auto text-center">
                                    <button class="btn btn-sm auth__btn">Set Password</button>
                                </div>
                            </form>
                        {% else %}
                            <div class="py-2">
                                <strong style="color: #ff6600;">Your password reset link is invalid or expired.</strong>
                            </div>
                        {% endif %}
                    </div>
                    <div class="text-center my-4">
                        <p class="or__text">OR</p>
                    </div>
                    <div class="text-center mx-auto mb-5">
                        <a class="links__to__page text-decoration-none" href="{% url 'signup_view' %}">
                            Create New Account
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center card px-5 mx-auto auth__card bg-light">
                <a class="links__to__page p-2 text-decoration-none" href="{% url 'signin_view' %}">Back To Signin</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}