{% extends 'core/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/authentication/password_change.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <div class="card password__change__card m-auto">
                    <div class="text-center p-5">

                        <!-- Password Changed Success Message -->
                        <p class="text-muted">Congratulations, your password has been successfully changed. 
                            <a href="{% url 'profile_view' request.user.username %}">Go Back to Profile</a>
                        </p>
                        <!-- End Password Changed Success Message -->

                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}