.post__card__head img{
    width: 32px;
    height: 32px;
    border: 3px solid #d357a4;
}

.post__card__head span{
    font-weight: 600;
    font-size: 14px;
}

.post__card__reactions .fa, .post__card__reactions .far{
    font-size: 30px;
}