{% load static %}

<header class="sticky-top">
  <nav class="navbar navbar-light bg-white border-bottom py-1">
      <div class="container">
          <a class="navbar-brand" href="/">
              <img src="{% static 'img/instalogo.png' %}" class="nav__insta__logo">
          </a>
        <div class="search__input m-auto d-none d-md-block">
          <input type="text" autocapitalize="none" placeholder="Search" value="" class="form-control">
        </div>    
        <ul class="navbar-nav ml-0 ml-md-auto d-flex flex-row">
          <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
            <a href="{% url 'home_feed_view' %}" class="text-decoration-none text-reset"><span class="nav__icons fa fa-home"></span></a>
          </li>
          <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
            <a href="/explore/" class="text-decoration-none text-reset"><span class="nav__icons far fa-compass"></span></a>
          </li>
          <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
            <a href="/saved_posts_view/" class="text-decoration-none text-reset"><span class="nav__icons far fa-heart"></span></a>
          </li>
          <li class="nav-item dropdown ml-2">
            <a class="nav-link dropdown-toggle" id="user__avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: inherit;padding: inherit;">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user__avatar">
              <a class="dropdown-item" href="{% url 'profile_view' request.user.username %}">
                <span class="mr-3 fa fa-user-circle"></span>Profile
              </a>
              <a class="dropdown-item" href="/saved_posts_view/">
                <span class="mr-3 fa fa-bookmark"></span>Saved
              </a>
              <a class="dropdown-item" href="/">
                <span class="mr-3 fa fa-cog"></span>Settings
              </a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <form method="POST" action="{% url 'signout_view' %}">
                  {% csrf_token %}
                  <a href="javascript:;" onclick="parentNode.submit();" class="text-reset text-decoration-none">Sign Out</a>
                </form>
              </div>
            </div>
          </li>
        </ul>          
      </div>
  </nav>
</header>