{% extends 'base.html' %}

{% block content %}
    <div class="container my-3 mb-5">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-4 mb-2">Edit Your Todo Here!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form class="form-inline justify-content-center" action="{% url 'edit_todo' todo_obj.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.todo_text }}
                    </div>
                    <button type="submit" class="mx-2 btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}